.container
  .photo
    .jumbotron
      %h2 Welcome!

      .margin
        %p Any time you see any production of any play written by Sarah Ruhl, you are invited to come by and leave your impressions. Ideally, you'll also provide details of the production itself--where and when the play was produced, perhaps names of the cast and/or crew, reviews you've found in your local paper, any photographs or other images you can lay your hands on . . .
        %p Anyone can visit this website and view reviews and details of productions of Ms. Ruhl's plays. Only registered users may post their own reviews, or comment on those of others (remember, play nice! "I had a different experience of this production" is acceptable; "you idiot" is definitely NOT).
