/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #7a7aff;
}

.nav li a:link {
  color: #FF0080;
}

.nav li a:visited {
  color: #FF0080;
}

.nav.nav ul li a:hover {
  text-weight: bold;
  color: #FF0080;
}

.etc {
  color: #000000;
  font-weight: 900;
}

.btn-primary {
  background-color: #FF00FF;
}

.btn-primary:hover {
  background-color: #FF0080;
}

.playimage {
  width: 480px;
  height: 480px;
}

.playimage#play_1 {
  background: url(TheCleanHouse.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.playimage#play_2 {
  background: url(DeadManCell.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.playimage#play_3 {
  background: url(DearElizabeth2.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.playimage#play_4 {
  background: url(Demeter.gif);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.playimage#play_5 {
  background: url(eurydice3.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.playimage#play_6 {
  background: url(thevibrator.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.playimage#play_7 {
  background: url(late_a_cowboy.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.playimage#play_8 {
  background: url(melancholyplay4.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.playimage#play_9 {
  background: url(theoldestboy2.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.playimage#play_10 {
  background: url(thepassionplay2.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.playimage#play_11 {
  background: url(StageKiss1_pic-by-Liz-Lauren_magnum.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}