accordion {
  color: white;
}

.button-success {
  background-color: #b36666;
}

a:link {
  color: #ff6633;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #ff6633;
}