.panel-heading {
  background-color: #6e6e6e;
}

accordion {
  color: white;
}

a:link {
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #f3843e;
}