a:link {
   color: #FFFF7A;
}

a:visited {
  color: #FFFF7A;
}

.playimage#play_1 {
  background: url(TheCleanHouse.jpg);
  position: absolute;
  top: 120px;
  right: 70px;
  width: 480px;
  height: 480px;
  background-size: auto 100%;
  background-repeat: no-repeat;
}