.photo {
  background: url(eurydice460.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
}

a:link {
  color: #bef243;
}

a:visited {
  color: #bef243;
}

a:hover {
  text-weight: bold;
}
p {
  margin-right: 300px;
}

.jumbotron {
  background-color: #666699;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.7;
  color: #000000;
}

.signupbox {
  margin-left: auto;
  margin-right: 400px;
  width: 60%;
  padding: 30px;
  text-align: center;
}

.btn-success {
  background-color: #bef243;
  color: #3b4043;
  opacity: 1;
}

.col-md-4 {
  text-align: center;
}

.btn-success:hover {
  background-color: #3b4043;
}

.jumbotron a:link {
  color: #272b2e;
}

.jumbotron a:visited {
  color: #272b2e;
}

.jumbotron a:hover {
  color: #bef243;
}