.photo {
  background: url(eurydice460.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
}

p {
  margin-right: 300px;
}

.jumbotron {
  background-color: 6e6e6e;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.6;
  color: #ff5a09;
}

.signupbox {
  margin-left: auto;
  margin-right: 400px;
  width: 60%;
  padding: 30px;
  text-align: center;
}

.btn-success {
  background-color: #ff5a09;
  color: white;
  opacity: 1;
}

.col-md-4 {
  text-align: center;
}

.btn-success:hover {
  background-color: #ff9900;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}